{% extends 'layout/base.twig' %}

{% block page_title %}Sebo Online{% endblock %}
{% block page_subtitle%}Edição de Produtos{% endblock %}
{% block alert%}Preencha o formulário para atualizar. {%endblock%}

{% block content %}
    <h1>Editar Produto</h1>
    <form action="/sebo/public/produtos/editar/{{ produto.id }}" method="POST">
        <div class="field">
            <label class="label">Tipo de Produto</label>
            <div class="select">
                <select name="tipo_id" class="form-select" required>
                    {% for tipo in tipos %}
                        <option value="{{ tipo.id }}" {% if tipo.id == produto.tipo_id %}selected{% endif %}>
                            {{ tipo.nome }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="field">
            <label class="label">Titulo</label>
            <div class="control">
                <input class="input" type="text" name="titulo" placeholder="Título" value="{{produto.titulo}}" required>
            </div>
            <p class="help">Se tiver dúvidas, procure pela <strong><a href="/sebo/public/produtos">lista</a></strong> se já existe um.</p>
        </div>
       <div class="field">
            <label class="label">Autor</label>
            <div class="control">
                <input class="input" type="text" name="autor" value="{{ produto.autor }}" required>
            </div>
            <p class="help">Se tiver dúvidas, procure pela <strong><a href="/sebo/public/produtos">lista</a></strong> se já existe um.</p>
        </div>
        <div class="field">
            <label class="label">Ano de Publicação</label>
            <div class="control">
                <input class="input" type="number" name="ano_publicacao" value="{{ produto.ano_publicacao }}" required>
            </div>
            <p class="help">Informe um ano válido.</p>
        </div>
        <div class="field">
            <label class="label">Condição de Produto</label>
            <div class="select">
                <select name="tipo_id" class="form-select" required>
                    <option value="1" {% if produto.estado == 'Novo' %}selected{% endif %}>Novo</option>
                    <option value="2" {% if produto.estado == 'Usado - Como novo' %}selected{% endif %}>Usado - Como novo</option>
                    <option value="3" {% if produto.estado == 'Usado - Bom estado' %}selected{% endif %}>Usado - Bom estado</option>
                    <option value="4" {% if produto.estado == 'Usado - Desgastado' %}selected{% endif %}>Usado - Desgastado</option>
                </select>
            </div>
        </div>
        <div class="field">
            <label class="label">Preço</label>
            <div class="control">
                <input class="input" step="0.01" type="number" name="preco" value="{{ produto.preco }}" required>
            </div>
            <p class="help">Informe um valor, se possível, com casas decimais.</p>
        </div>
        
        <br/>
        <button type="submit" class="button is-success">Atualizar</button>
    </form>
{% endblock %}